<div class="popup-overlay" id="popupOverlay">
  <div class="popup" id="popup">
    <div class="popup-content">
      <div class="row">
        <div
          class="col-4 my-auto"
          *ngIf="!showRecScreenInfo?.popup"
          (click)="onBackClick()"
        >
          <img src="assets/left-arrow.png" />
        </div>
        <div class="col-4 text-center" *ngIf="!showRecScreenInfo?.popup">
          <img src="assets/Line.png" (click)="onSideClik()" />
          <div class="rec-label" *ngIf="showRecScreenInfo?.recomSrc">
            Recommendation
          </div>
        </div>
        <div class="rec-label" *ngIf="showRecScreenInfo?.pension">
          Increase Pension
        </div>
      </div>
      <div class="col-12" *ngIf="showRecScreenInfo?.popup">
        <img
          src="assets/pop-close.png"
          class="float-right"
          (click)="onCancelClick()"
        />
      </div>
    </div>
    <div *ngIf="showRecScreenInfo?.recomSrc">
      <app-pension-reccommendation-popup></app-pension-reccommendation-popup>
    </div>
    <div *ngIf="showRecScreenInfo?.pension">
      <app-increase-pension></app-increase-pension>
    </div>
    <div *ngIf="showRecScreenInfo?.popup">
      <app-success-popup></app-success-popup>
    </div>
  </div>
</div>
