<div class="row mt-5 text-center">
  <div class="col-12 mt-5">
    <img src="assets/Ok.png">
  </div>
  <div class="col-12 mt-5" style="font-size: 26px;font-weight: 500;color: #000000;">
    Pension Updated
  </div>
  <div class="col-12 mt-5" style="font-size: 16px;font-weight: 400;">
    Your changes have been successfully saved, and your pension contribution percentage has been adjusted accordingly. You are now on track to enhance your retirement savings and secure your financial future.
  </div>

</div>
