<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1" class="cur-btn"></button>
    <button type="button" class="cur-btn" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row main">
        <div class="col">
          <div class="overview mt-4">
            Overview

            <img class="float-right" src="../../assets/settings.png" alt="">
          </div>


          <div class="bar">
            <canvasjs-chart [options]="chartOptions" [styles]="{width: '70%', height:'250px'}"></canvasjs-chart>

            <div class="chart-content">
              <div class="equ equity"></div>
              <div class="equ insu"></div>
              <div class="equ pen"></div>
              <div class="equ cash"></div>
              <div class="equ real-est"></div>
            </div>

            <div class="chart-content">
              <div class="mt-2">Equity</div>
              <div class="mt-2">Insurances</div>
              <div class="mt-2">Pensions</div>
              <div class="mt-2">Cash</div>
              <div class="mt-2">Real estate</div>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- <div class="carousel-item">
      <div class="row main">
        <div class="col">
          <div class="overview mt-4">
            Investment Breakdown

            <img class="float-right" src="../../assets/settings.png" alt="">
          </div>


          <div class="stocks mt-4 mb-4">
            <div>
              <div class="label">30.5 k</div>
            </div>
            <div>
              <div class="label">15.5 k</div>
            </div>
            <div>
              <div class="label">89.8 k</div>
            </div>
          </div>


          <div class="chart-container">
            <canvas id="MyChart">{{ chart }}</canvas>
          </div>



        </div>

      </div>

    </div> -->

  </div>

</div>

<!-- 
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row main">
        <div class="col">
          <div class="overview mt-4">
            Overview

            <img class="float-right" src="../../assets/settings.png" alt="">
          </div>


          <div class="bar">
            <canvasjs-chart [options]="chartOptions" [styles]="{width: '70%', height:'250px'}"></canvasjs-chart>

            <div class="chart-content">
              <div class="equ equity"></div>
              <div class="equ insu"></div>
              <div class="equ pen"></div>
              <div class="equ cash"></div>
              <div class="equ real-est"></div>
            </div>

            <div class="chart-content">
              <div class="mt-2">Equity</div>
              <div class="mt-2">Insurances</div>
              <div class="mt-2">Pensions</div>
              <div class="mt-2">Cash</div>
              <div class="mt-2">Real estate</div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="carousel-item">
     <div class="row main">
        <div class="col">
          <div class="overview mt-4">
            Investment Breakdown

            <img class="float-right" src="../../assets/settings.png" alt="">
          </div>


          <div class="stocks mt-4 mb-4">
            <div>
              <div class="label">30.5 k</div>
            </div>
            <div>
              <div class="label">15.5 k</div>
            </div>
            <div>
              <div class="label">89.8 k</div>
            </div>
          </div>


          <div class="chart-container">
            <canvas id="MyChart">{{ chart }}</canvas>
          </div>



        </div>

      </div>
    </div>
  </div>

</div> -->
