
.header {
  background-color: #001B3C;
  position: fixed;
  top: 0;
  left: 10px;
  right: 10px;
  z-index: 1;
}

.col {
  margin: 14px;
}
.images-tag {
  float: right;
}

.qus-img {
  padding-right: 22px;
}
