
  .row {
    background-color: #00366B;
    height: 60px;
  }

  .logo {
    margin: 14px;
  }

  .col {
    margin: 14px;
  }

  .images-tag {
    float: right;
  }

  .qus-img {
    padding-right: 22px;
  }
  .left-log{
    padding-left: 18px;
  }

