
<div class="wrapper container-fluid" [ngClass]="receivedRecommendation? 'pop' : ''">
  <app-login-header></app-login-header>
  <br>
  <div class="row header-content mt-5">
    <div class="col py-4">
      <label class="header-text"><span>Hello</span>Johan!</label>
      <br />
      <label class="small-text">Welcome to your Max Matthiessen Mobile!</label>
    </div>
  </div>
  <app-portfolio-recommendation (recommendationChange)="onRecommendationChange($event)"></app-portfolio-recommendation>
  <app-portfolio-summary></app-portfolio-summary>
  <app-overview></app-overview>
  <app-upcomming-payments></app-upcomming-payments>
  <app-news></app-news>
</div>

<div *ngIf="receivedRecommendation" class="app-recom">
  <app-recommendation (recommendationChange)="onRecommendationChange($event)"></app-recommendation>
</div>




