
<div class="wrapper container-fluid" [ngClass]="receivedRecommendation? 'pop' : ''">
  <app-header></app-header>
  <br>
  <div class="row header-content mt-5">
    <div class="col py-5">
      <label class="header-text"><span>Hello </span>{{userName}}!</label>
      <br />
      <label class="small-text">Welcome to your Max Matthiessen Mobile!</label>
    </div>
  </div>
  <app-portfolio-recommendation></app-portfolio-recommendation>
  <app-portfolio-summary></app-portfolio-summary>
  <app-overview></app-overview>
  <app-upcomming-payments></app-upcomming-payments>
  <app-news></app-news>
</div>
<div *ngIf="showRecScreenInfo.recomSrc || showRecScreenInfo.pension || showRecScreenInfo.popup">
  <app-recommendation [showRecScreenInfo]="showRecScreenInfo"></app-recommendation>
</div>

<app-mobile-down-menu></app-mobile-down-menu>





