<div class="login-conatiner mobile-view">
<div class="row text-center pt-5">
    <div class="col-12">
      <img src="assets/logo.png" />
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <label class="heading"> Welcome to </label>
      <br />
      <label class="heading">Max Matthiessen</label>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-12">
      <img src="assets/mat-max-lady-logo.png" width="100%" />
    </div>
  </div>

  <div class="row text-center my-4" *ngIf="!canShowLoginPage" >
    <div class="col-12">
      <button class="max-button bg-white" (click)="onLoginClick()">Login</button>
    </div>
  </div>

  <div class="row text-center ml-auto mr-auto" *ngIf="!canShowLoginPage">
    <div class="col-12">
      <button class="max-button bg-color" (click)="onOpenClick()">
        Open a new account
      </button>
    </div>
  </div>
  <div class="row text-center ml-auto mr-auto my-4" *ngIf="!canShowLoginPage">
    <div class="col-12">
      <label class="try-demo">Try demo <img src="assets/Play.png" /></label>
    </div>
  </div>
  <div class="row footer-conatiner my-4 d-none">
    <div class="col-12">
      <label class="footer-text">
        © 2024 MaxMatthiessen Limited. All rights reserved.
      </label>
    </div>
  </div>
  <div *ngIf="canShowLoginPage"  class="text-center mobile-login mt-3">
    <app-create-new-user></app-create-new-user>
  </div>
</div>

<div class="web-view-conatiner">
  <app-web-view></app-web-view>
</div>




