.login-conatiner{
  background-color: #001B3C;
  height: 100%;
  overflow: hidden;
}

.heading{
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 500;

}

.text{
  color: #FFFFFF;
  font-weight: 300;
  padding: 11px;
}

.max-button{
  width: 90%;
  height: 54px;
  font-size: 18px;
  font-weight: 400;
}

.bg-color{
  background-color:  #261AB1;
  color: #FFFFFF;
  border: unset;
}

.footer-text{
  color: #FFFFFF;
}

.footer-conatiner{
  position: absolute;
  left: 30px;
  bottom: 17px;

}

.try-demo{
color: #FFFFFF;
font-size: 21px;
}

.bg-white{
  background-color: #FFFFFF;
  color: #001B3C;
}

.mobile-login{
  .label-name{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
  }
  .heading{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    padding-bottom:18px
  }
input{
  width: 91%;
}
bottom{
  width: 91%;
    padding: 8px;
    margin-top: 21px;
}
}


