.login-conatiner{
  background-color: #001B3C;
  height: 931px;
}

.heading{
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 500;

}

.text{
  color: #FFFFFF;
  font-weight: 300;
  padding: 11px;
}


