<div *ngIf="canShowThis" class="row prof">
  <div class="col-12" class="profile-summary-header">
    <div class="portfolio-summary">
      Portfolio Recommendation
      <img src="assets/cancel.png" class="cancel-img"/>
    </div>
  </div>

  <div class="col-4 col-lg-6 profile-img">
    <img src="assets/prof-logo.png" />
  </div>
  <div
    class="col-8 col-lg-6 head-container"
  >
    <span class="head">Adjustments to your portfolio.</span>
    <br />
    <span class="parga"
      >Based on your recent financial goals and earlier consultation with your
      advisor, we recommend making adjustments to your portfolio.</span
    >
    <div class="mb-3 mt-2">
      <button class="view-option-btn"
        (click)="onViewClick()"
      >
        View Options
      </button>
      <button class="talk-btn">
        Talk to Advisor
      </button>
    </div>
  </div>
</div>
