<div class="web-login-conatiner">
  <header></header>

<div class="row head">
  <div class="col-12">
 <label class="max-label">Welcome to Max Matthiessen</label>
  </div>

  <div class="col-11 tab mt-4" >
    <mat-tab-group>
      <mat-tab label="The Private Service">
        <app-web-signin></app-web-signin>
      </mat-tab>
      <mat-tab label="Msave"></mat-tab>
      <mat-tab label="Max funds"></mat-tab>
      <mat-tab label="Advice4Life"></mat-tab>
      <mat-tab label="Company Services"></mat-tab>
      <mat-tab label="Discretionary Management"></mat-tab>
    </mat-tab-group>
  </div>
</div>
</div>

