<div class="row content mt-5" (click)="onRowClick()">
  <div class="col">
    <div class="row cont mb-2" *ngFor="let recc of recContent">
      <div class="col-10 col-lg-11">
        <label class="content-1 pt-2"
          >{{recc.heading}}</label
        >
        <br />
        <label class="content-2 pt-2 pb-2"
          >{{recc.details}}</label
        >
      </div>
      <div class="col-2 col-lg-1 arrow">
        <img src="assets/nav.png" />
      </div>
    </div>
  </div>
  <div *ngIf="canShowLoader" class="text-center">
    <div class="spinner-border" role="status">
    </div>
  </div>
</div>
