<div class="row content mt-5" (click)="onRowClick()">
  <div class="col">
    <div class="row">
      <div class="col-10">
        <label class="content-1 pt-2"
          >Increase monthly pension contribution</label
        >
        <br />
        <label class="content-2 pt-2 pb-2"
          >Our analysis shows that you have the capacity to increase
          your monthly pension contributions by 10% will bolster your
          retirement savings, ensuring a more comfortable future.</label
        >
      </div>
      <div class="col-2 arrow">
        <img src="assets/nav.png" />
      </div>
    </div>
  </div>
</div>
<div class="row content">
  <div class="col">
    <div class="row">
      <div class="col-10">
        <label class="content-1 pt-2"
          >Increase Emergency Fund Allocation</label
        >
        <br />
        <label class="content-2 pt-2 pb-2"
          >Allocating an additional 5% to his emergency fund will
          provide greater financial security, especially considering his
          risk-averse approach to investing.</label
        >
      </div>
      <div class="col-2 arrow">
        <img src="assets/nav.png" />
      </div>
    </div>
  </div>
</div>
<div class="row content">
  <div class="col">
    <div class="row">
      <div class="col-10">
        <label class="content-1 pt-2"
          >Tax-Efficient Investing Strategy</label
        >
        <br />
        <label class="content-2 pt-2 pb-2"
          >Implementing a tax-efficient strategy by maximizing
          contributions to ISAs or SIPPs can optimize his tax savings
          and enhance overall portfolio growth, aligning with his goal
          of minimizing tax liabilities.</label
        >
      </div>
      <div class="col-2 arrow">
        <img src="assets/nav.png" />
      </div>
    </div>
  </div>
</div>
<div class="row content">
  <div class="col">
    <div class="row">
      <div class="col-10">
        <label class="content-1 pt-2"
          >Book an advisor appointment
        </label>
        <br />
        <label class="content-2 pt-2 pb-2"
          >Our advisors can review your current portfolio, assess your
          risk tolerance, and develop a tailored plan to help you
          achieve your financial objectives more effectively.</label
        >
      </div>
      <div class="col-2 arrow">
        <img src="assets/nav.png" />
      </div>
    </div>
  </div>
</div>
