<div class="row contnt donut">
  <div class="chart-cont">
    <canvasjs-chart
      [options]="pensionData.chartOptions"
      [styles]="{ width: '70%', height: '250px' }"
    ></canvasjs-chart>
    <div class="pension-continer">
      <div class="text-center pension-label">
        Pension
      </div>
      <div class="text-center">
        <label class="doller">{{pensionData.monthlyPensionAmt}}</label
        >
        <span class="pl-2 month-label">/month</span>
      </div>
    </div>
  </div>

  <div *ngIf="canShowSpinner" class="text-center">
    <div class="spinner-border" role="status">
    </div>
  </div>

  <div class="col-12 increase">
    <div class="col-12 total-pension">
      <span class="large">Total Pension Amount</span>
      <span class="medium">(Till Date)</span>
      <span class="price">$ {{pensionData.totalPensionAmount}}</span>
    </div>

    <div class="col-12 foo">
      <span class="large">Recommended</span>
      <span class="medium">(by 2045)</span>
      <span class="price">$ {{pensionData.Recommended}}</span>
    </div>
  </div>

  <hr />

  <div class="col-12 fooetr-text">
    Increase your monthly pension contributions by 10% you achieve your
    retirement savings goals under pension category.
  </div>
</div>

<div class="row range-conatiner">
  <div class="col-10 pt-4">Pension Contribution</div>
  <div class="col-2 pt-4">
    %{{ range }}
    <hr />
  </div>
  <div class="col-12 pt-4 mb-4">
    <input
      type="range"
      min="0"
      max="25"
      value="7"
      class="slider"
      id="myRange"
      (input)="onInputRange()"
      [(ngModel)]="range"
    />
    <div class="scale">
      <div><span class="line">|</span> 0</div>
      <div><span class="line">|</span>5</div>
      <div><span class="line">|</span>10</div>
      <div><span class="line">|</span>15</div>
      <div><span class="line">|</span>20</div>
      <div><span class="line">|</span>25</div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <button
      class="apply-btn"
      [disabled]="isDisable()"
      (click)="onRangeChange()"
    >
      Apply
    </button>
  </div>
</div>



<div class="row mt-3 text-center">
  <div class="col-12">
    <span>Not sure? </span>
    <span>Talk to to us</span>
  </div>
</div>



