<div class="row main mt-4">
  <div class="col-12">
    <div class="portfolio-summary">Upcoming Payments</div>
  </div>

  <div class="upcoming-conatiner">
    <div>
      <img src="../../assets/calender.png" alt="" />
    </div>

    <div>
      <span class="payment-label">Life Insurance </span>
      <span class="tax-amount">Premium Due</span>
    </div>

    <div class="">
      <div class="payment-amount">
        $350
        <br />

        <span class="tax-amount">Tax saved ($105)</span>
      </div>
    </div>
  </div>
  <hr>

  <div class="upcoming-conatiner">
    <div>
      <img src="../../assets/calender.png" alt="" />
    </div>

    <div>
      <span class="payment-label">Life Insurance </span>
      <span class="tax-amount">Premium Due</span>
    </div>

    <div class="">
      <div class="payment-amount">
        $350
        <br />

        <span class="tax-amount">Tax saved ($105)</span>
      </div>
    </div>
  </div>
  <hr>
  <div class="upcoming-conatiner">
    <div>
      <img src="../../assets/calender.png" alt="" />
    </div>

    <div>
      <span class="payment-label">Life Insurance </span>
      <span class="tax-amount">Premium Due</span>
    </div>

    <div class="">
      <div class="payment-amount">
        $350
        <br />

        <span class="tax-amount">Tax saved ($105)</span>
      </div>
    </div>
  </div>
  <hr>
  <div class="upcoming-conatiner">
    <div>
      <img src="../../assets/calender.png" alt="" />
    </div>

    <div>
      <span class="payment-label">Life Insurance </span>
      <span class="tax-amount">Premium Due</span>
    </div>

    <div class="">
      <div class="payment-amount">
        $350
        <br />

        <span class="tax-amount">Tax saved ($105)</span>
      </div>
    </div>
  </div>
  <hr>
  <div class="upcoming-conatiner">
    <div>
      <img src="../../assets/calender.png" alt="" />
    </div>

    <div>
      <span class="payment-label">Life Insurance </span>
      <span class="tax-amount">Premium Due</span>
    </div>

    <div class="">
      <div class="payment-amount">
        $350
        <br />

        <span class="tax-amount">Tax saved ($105)</span>
      </div>
    </div>
  </div>
  <hr>
  <div class="col-12 insights mb-3">
    View Actionable Insights

  </div>

</div>
