



.-text {
  font-size: 22px;
  color: #6a6565;
  font-weight: 400;
}

.small-text {
  font-size: 16px;
  color: #6a6565;
}

.content {
  border: 1px solid #00366B;
  border-radius: 5px;
  cursor: pointer;
}

.header-content{
  margin: 15px;
}

.content{
  margin: 24px;
  background-color: #261AB1;
}

.content-1{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}
.content-2{
  color:#FFFFFF;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
}

.arrow{
  text-align: center;
  margin: auto;
}

.header-text{
  font-size: 22px;
    font-weight: 300;
    color: #232323;
}

.nav-bar{
  background-color: #001B3C ;
}
