<app-header></app-header>
<div class="dashboard-conatiner">
  <div class="row header-content">
    <div class="col">
      <label class="header-text">Welcome to Max Matthiessen</label>
      <br />
      <label class="small-text">Choose a service to continue</label>
    </div>
  </div>

  <div class="row content" (click)="onRowClick()">
    <div class="col">
      <div class="row">
        <div class="col-10 col-lg-11">
          <label class="content-1 pt-2">The Private Service</label>
          <br />
          <label class="content-2 pt-2 pb-2"
            >Simplify and optimize your financial management with a
            comprehensive, user-friendly dashboard</label
          >
        </div>
        <div class="col-2 col-lg-1 arrow">
          <img src="assets/Vector.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="row content">
    <div class="col">
      <div class="row">
        <div class="col-10 col-lg-11">
          <label class="content-1 pt-2">MSave</label>
          <br />
          <label class="content-2 pt-2 pb-2"
            >Securely build and manage your savings effortlessly with our
            intuitive digital platform</label
          >
        </div>
        <div class="col-2 col-lg-1 arrow">
          <img src="assets/Vector.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="row content">
    <div class="col">
      <div class="row">
        <div class="col-10 col-lg-11">
          <label class="content-1 pt-2">Max Funds</label>
          <br />
          <label class="content-2 pt-2 pb-2"
            >Invest wisely with Max Funds, offering tailored fund options
            designed to maximize your returns</label
          >
        </div>
        <div class="col-2 col-lg-1 arrow">
          <img src="assets/Vector.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="row content">
    <div class="col">
      <div class="row">
        <div class="col-10 col-lg-11">
          <label class="content-1 pt-2">Advice4Life</label>
          <br />
          <label class="content-2 pt-2 pb-2"
            >Personalized, lifelong financial planning to secure your future,
            every step of the way</label
          >
        </div>
        <div class="col-2 col-lg-1 arrow">
          <img src="assets/nav.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="row content">
    <div class="col">
      <div class="row">
        <div class="col-10 col-lg-11">
          <label class="content-1 pt-2">The Private Service</label>
          <br />
          <label class="content-2 pt-2 pb-2"
            >Simplify and optimize your financial management with a
            comprehensive, user-friendly dashboard</label
          >
        </div>
        <div class="col-2 col-lg-1 arrow">
          <img src="assets/Vector.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="row content">
    <div class="col">
      <div class="row">
        <div class="col-10 col-lg-11">
          <label class="content-1 pt-2">Company Services</label>
          <br />
          <label class="content-2 pt-2 pb-2"
            >Streamline and enhance your business financial strategies with our
            expert, integrated solutions</label
          >
        </div>
        <div class="col-2 col-lg-1 arrow">
          <img src="assets/Vector.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="row content">
    <div class="col">
      <div class="row">
        <div class="col-10 col-lg-11">
          <label class="content-1 pt-2">Discretionary Management</label>
          <br />
          <label class="content-2 pt-2 pb-2"
            >Let our professionals manage your investments, focusing on
            performance and personalized strategy</label
          >
        </div>
        <div class="col-2 col-lg-1 arrow">
          <img src="assets/Vector.png" />
        </div>
      </div>
    </div>
  </div>
</div>
<app-mobile-down-menu></app-mobile-down-menu>
