@import '~bootstrap/dist/css/bootstrap';

body{
  overflow-x: hidden;
}

.popup-overlay{

  .bar-chart{
    .canvasjs-chart-canvas {
      border: none !important;
      top: -203px;
      }

      /* .canvasjs-chart-toolbar{
        margin-left: auto;
        margin-right: auto;
      } */

      *, *::before, *::after {
        box-sizing: border-box;
        margin-left: auto !important;
        margin-right: auto !important;
    }

      .canvasjs-chart-credit{
        display: none;
      }


  }


}
.canvasjs-chart-credit{
  display: none;
}

#canvasjs-angular-chart-container-1{
  margin-left: auto;
  margin-right: auto;
}
